body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botao{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(to bottom, rgb(223, 140, 191), rgb(200, 78, 98));
  border-color: pink;

}

a{
  text-decoration: none;
   color: white;
}
